:root {
  --grey-dark-color: #909090;

  --font-medium: 14px;
  --font-small: 12px;
}
* {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-family: "Open Sans", sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
nav {
  display: flex;
  padding: 8px 16px;
  background: black;
  color: white;
}
.searchAndMenu {
  position: absolute;
  right: 16px;
}
.searchAndMenu li {
  padding-left: 8px;
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
#mainVideo {
  display: block;
  overflow: auto;
  width: 100%;
}
.titleAndChannel {
  padding: 4px 16px;
}
#subscribeUnderBar {
  margin: 4px 16px;
}
.thumbsAndShareBtnGroup li {
  display: flex;
  width: 100%;
  padding: 8px 12px;
  flex-direction: column;
  /*  */
  align-items: center;
  justify-content: space-between;
}
.thumbsAndShareBtnGroup i {
  padding-bottom: 4px;
}
.channelDescription {
  display: flex;
  width: 100%;
  /*  */
  flex-direction: row;
  justify-content: space-between;
}
.imgAndChannel {
  display: flex;
  flex-direction: row;
}
#img {
  display: flex;
  width: 32px;
  height: 32px;
  padding-right: 16px;
  /*  */
  align-items: center;
  justify-content: center;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}
#subscribeBtn {
  border: none;
  background: red;
  color: white;
  /*  */
  border-radius: 5px;
}
#subscribeBtn.active {
  border: none;
  background: beige;
  color: black;
  /*  */
  border-radius: 5px;
}
.channelName {
  display: flex;
  flex-direction: column;
}
.hashtags li {
  padding-right: 4px;
  color: blue;
}
.title {
  display: flex;
  /*  */
  align-items: center;
  justify-content: center;
}
.hashtags,
.thumbsAndShareBtnGroup span,
.views,
#subscribers,
#upnext,
.otherVideoDescription span {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.otherVideoDescription div {
  font-size: var(--font-medium);
}
#upnext {
  padding-bottom: 4px;
}
.otherVideoList {
  width: 100%;
  padding: 8px 12px;
}
.otherVideo {
  display: flex;
  flex-direction: row;
}
.otherVideoImages {
  width: 35%;
}
.otherVideoImage {
  width: 100%;
}
.otherVideoDescription {
  display: flex;
  width: 65%;
  padding-left: 12px;
  flex-direction: column;
}
.otherVideoLogo {
  width: 5%;
}
@media screen and (min-width: 768px) {
  .channelAndOtherVideo {
    display: flex;
    flex-direction: row;
  }
  #subscribeUnderBar {
    display: none;
  }
  .titleAndChannel {
    width: 60%;
  }
  .otherVideoList {
    width: 40%;
  }
  .otherVideoImages {
    min-width: 150px;
  }
}
.thumbsUpAndCnt.active {
  color: blue;
}
